@font-face {
    font-family: "IM Fell English SC";
    src: local("IM Fell English SC"),
    url("/public/fonts/im-fell-english-sc.ttf") format("truetype");
    font-weight: bold;
}

body {
    font-family: 'IM Fell English SC', serif !important;
}

#back-gameroom-list {
    background-color: #f39c12;
    width: 150px;
    height: 50px;
    font-size: 0.8rem;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

#back-gameroom-list :hover {
    transform: scale(1.1); /* Enlarge on hover */
}



