@font-face {
    font-family: "IM Fell English SC";
    src: local("IM Fell English SC"),
    url("/public/fonts/im-fell-english-sc.ttf") format("truetype");
    font-weight: bold;
}

#content {
    font-family: 'IM Fell English SC', serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.button {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: transform 0.2s, background-color 0.2s;
}

.button:hover {
    transform: scale(1.1);
}


#back-gameroom-list {
    display: block;
    margin: 0;
    font-size: 1.2rem;
    text-decoration: none;
    background-color: #f39c12;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s;
}

#back-gameroom-list:hover {
    transform: scale(1.1);
}

#join-game {
    width: 170px;
    height: 50px;
    background-color: #5eb5e0;
    color: white;
    transition: transform 0.2s;
}

#join-game:hover {
    transform: scale(1.1);
}

#player-list {
    list-style-type: none;
    margin: 40px;
}

#player-names {
    font-size: xx-large;
    margin: 10px;
}


