@font-face {
    font-family: "IM Fell English SC";
    src: url('/public/fonts/im-fell-english-sc.ttf') format("truetype");
    font-weight: bold;
}


.container {
    margin: -10px;
    font-family: 'IM Fell English SC', serif;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.turn-indicator {
    background-color: #f39c12;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
    margin-bottom: 3px;
}

.players-info {
    width: 40%;
}

.player-card {
    display: inline-block;
    border: 1px solid #ccc;
    width: 20%;
    border-bottom: 7px solid #3498db;
    background-color: #e39e09;
    padding: 5px;
    margin: 5px;
    transition: transform 0.2s;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-card:hover {
    transform: scale(1.06);
}

.player-card p {
    font-weight: bold;
    font-size: 15px;
}

#player-hand {
    display: flex;
    flex-wrap: wrap;
}


.error-message {
    position: fixed;
    font-weight: bold;
    font-size: x-large;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff4444;
    color: #000000;
    padding: 10px;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.error-message.show {
    transform: translateY(0);
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.winner-message {
    position: fixed;
    font-weight: bold;
    top: 0;
    left: 0;
    background-color: #00e676;
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    animation: slideIn 0.5s forwards;
}

.score-container {
    filter: brightness(1.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 40%;
    margin: 0;
    background-color: transparent;
    background-image: url('/public/images/score.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.score-table-container {
    background-color: transparent;
}

/*.background-image {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 85%;*/
/*    !*background-image: url('/public/images/score.png');*!*/
/*    !*background-size: 100% 100%;*!*/
/*    !*background-repeat: no-repeat;*!*/
/*    !*background-position: center;*!*/
/*    !*z-index: -1;*!*/
/*}*/

.score-table {
    background-color: transparent;
    border-radius: 5px;
    width: 90%;
    margin-top: 50px;
    align-content: center;
    border-collapse: collapse;
}

.score-table th, .score-table td {
    padding: 15px;
    text-align: center;
}

button {
    border: none;
    background-color: white;
    border-radius: 15px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}


.column-score {
    position: relative;
    height: 50px;
}

.column-round {
    border-bottom: 1px solid black;
    padding: 5px;
}

.column-score .score-cell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.score-cell span {
    display: block;
    font-size: 18px;

}

.thead-round-players {
    width: 35px;
}

.card-player-hand {
    width: 110px;
    height: 150px;
    border-radius: 15px;
}

#player_hand, #announce {
    display: flex;
    gap: 10px;
}

.button-container-announce {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

#announce-button {
    width: 50px;
    height: 50px;
    font-weight: bold;
    background-color: #F0D9A2;
}

.fold {
    background-image: url('/public/images/table.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 690px;
    max-width: 800px;

}

.table {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.folded-card {
    position: absolute;
    width: 100px;
    height: 140px;
    margin: 10px;
    transform: rotate(-20deg);
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.folded-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    width: 100px;
    height: 140px;
    margin-right: 40px;
}


.player-name {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

.game-over-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.game-over-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-over-modal h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-over-modal p {
    font-size: 16px;
}

.game-over-modal .close-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #555;
}

.button-back {
    background-color: #e39e09;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s;
    margin: 10px;
    display: inline-block;
}

.button-back a {
    text-decoration: none;
    color: white;
}

.button-back :hover {
    transform: scale(1.1);
}

/* For SmartPhone and Tablet */
@media screen and (max-width: 860px) {
    .container {
        flex-direction: column;
    }

    #player-hand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #player-hand button {
        width: 23%;
        margin: 5px;
    }


    .players-info, .score-container {
        width: 100%;
    }

    .player-card, .score-container {
        width: 90%;
        margin: 10px auto;
    }

    .score-table th, .score-table td {
        padding: 10px;
    }

    .column-score .score-cell span {
        font-size: 10px;
        margin-bottom: 5px;
    }

    .background-image {
        height: 105%;
    }
}