@font-face {
    font-family: "IM Fell English SC";
    src: local("IM Fell English SC"),
    url('/public/fonts/im-fell-english-sc.ttf') format("truetype");
    font-weight: bold;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.turn-indicator {
    background-color: #f39c12;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: large;
    border-radius: 5px;
    margin-bottom: 3px;
}

.players-info {
    width: 40%;
}

.player-card {
    border: 1px solid #ccc;
    width: 25%;
    border-bottom: 7px solid #3498db;
    background-color: #e39e09;
    padding: 10px;
    margin: 10px;
    transition: transform 0.2s;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.player-card:hover {
    transform: scale(1.06);
}

.player-card p {
    font-weight: bold;
    font-size: 15px;
}

#player-hand {
    display: flex;
    flex-wrap: wrap;
}


.error-message {
    position: fixed;
    font-weight: bold;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff4444;
    color: #000000;
    padding: 10px;
    text-align: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.error-message.show {
    transform: translateY(0);
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 40%;
    margin: 0;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: url('/public/images/score.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

.score-table {
    border-radius: 5px;
    width: 90%;
    margin-top: 50px;
    align-content: center;
    border-collapse: collapse;
}

.score-table th, .score-table td {
    padding: 15px;
    text-align: center;
}

button {
    border: none;
    border-radius: 15px;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}


.column-score {
    position: relative;
    height: 50px;
}

.column-score .score-cell {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.score-cell span {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.thead-round-players {
    width: 35px;
}

.card-player-hand {
    width: 110px;
    height: 150px;
    border-radius: 15px;
}

#player_hand, #announce {
    display: flex;
    gap: 10px;
}

button {
    background-color: white;
}

.button-container-announce {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;
}

#announce-button {
    width: 50px;
    height: 50px;
    background-color: #5eb5e0;
}

.fold {
    background-image: url('/public/images/table.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 690px;
    padding: 20px;
}

.table {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.folded-card {
    position: absolute; /* Position absolue pour les cartes pliées */
    width: 100px; /* Ajustez la taille des cartes selon vos besoins */
    height: 140px; /* Ajustez la taille des cartes selon vos besoins */
    margin: 10px;
    transform: rotate(-20deg); /* Inclinez la carte pour l'effet de pli */
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.folded-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    position: relative;
    width: 100px; /* Ajustez la taille des cartes selon vos besoins */
    height: 140px; /* Ajustez la taille des cartes selon vos besoins */
    margin-right: 40px; /* Ajoutez une marge à droite de chaque carte */
}


.player-name {
    position: absolute;
    top: 5px; /* Placez le nom du joueur en haut */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}


/* For SmartPhone and Tablet */
@media screen and (max-width: 860px) {
    .container {
        flex-direction: column;
    }

    #player-hand {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #player-hand button {
        width: 23%;
        margin: 5px;
    }


    .players-info, .score-container {
        width: 100%;
    }

    .player-card, .score-container {
        width: 90%;
        margin: 10px auto;
    }

    .score-table th, .score-table td {
        padding: 10px;
    }

    .column-score .score-cell span {
        font-size: 10px;
        margin-bottom: 5px;
    }
}