@font-face {
    font-family: "IM Fell English SC";
    src: url('/fonts/im-fell-english-sc.ttf') format("truetype");
    font-weight: bold;
}

html, body {
    font-family: 'IM Fell English SC', serif;
    background-color: #5eb5e0;
    width: 100%;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    height: 100%;
    position: relative;
}

#container-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 204px;
}

#login-title {
    text-align: center;
    font-size: xxx-large;
}

#container-form_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#form_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}

.form_input {
    font-size: 24px;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}

.required {
    font-size: 19px;
    font-weight: bold;
}

#form_Entrer {
    background-color: #f39c01;
    color: white;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-size: 19px;
    font-weight: bold;
}

#form_Entrer:hover {
    background-color: #f39c12;
    transform: scale(1.05);
}

label {
    margin: 10px;
}