{% extends 'base.html.twig' %}


{% block title %}Salle de jeu du Skull King{% endblock %}

{% block body %}

    <h1> Salle de Jeux {{ roomid }}</h1>
    <div id="content">

        <a href="{{ path('app_game_room') }}" id="back-gameroom-list" class="button">Retourner à l'accueil</a>

        <div {{ react_component('CurrentGameRoom', {
            'users': users,
            'skullkingid': skullkingid,
            'pathEnterGameRoom': path("enter_in_game", { id: roomid}),
            'pathCurrentGame' :  skullkingid is null ? null : path('current_game', {id : skullkingid}),
            'eventSourceUrl': mercure(topicName, { subscribe: topicName })
        }) }}>
            Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
        </div>

    </div>



{% endblock %}