{% extends 'base.html.twig' %}
{% block stylesheets %}

    {{ encore_entry_link_tags('main') }}

{% endblock %}
{% block title %}Hello SkullController!{% endblock %}

{% block body %}

    <div {{ react_component('Game', {
        'announceValues' :  announceValues,
        'eventSourceUrl': mercure(topicName, { subscribe: topicName }),
        'userId': userId,
        'skull': skull,
    }) }}>


        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
