{% extends 'base.html.twig' %}

{% block title %}Hello SkullController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello les pirates ✅</h1>


    </div>
    {% if version %}
        <p>Version du skull en cours : {{ version }}</p>
    {% endif %}



    <div {{ react_component('Game', {
        'fold': fold,
        'gamePhase': gamePhase ,
        'cards': cards,
        'gameId': id,
        'players': players,
        'announceValues' :  announceValues,
        'eventSourceUrl': mercure(topicName, { subscribe: topicName }),
        'playerId': playerId,
        'version': version,
        'skull': skull,
    }) }}>


        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>



{% endblock %}



{# annonce seté sur le player en base
des que tous les joueurs ont misé stop plus de modifications d'annonces
serveur doit envoyer un message pour commencer la partie #}