
.example-wrapper a {
    text-decoration: none;
    color: #333;
}

.example-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.example-wrapper li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    width: 33%;

    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.example-wrapper li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.example-wrapper button {
    background-color: #77C66E;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
    cursor: pointer;
    transition: transform 0.2s;
    font-weight: bold;
}

.example-wrapper button:hover {
    transform: scale(1.1);
}

#back-gameroom-list, button {
    background-color: #f39c01;
    color: white;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
    font-size: 19px;
    font-weight: bold;
}

#back-gameroom-list:hover, button:hover {
    transform: scale(1.1); /* Enlarge on hover */
}

button {
    background-color: #77C66E;
}

