{% block head %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap" rel="stylesheet">
{% endblock %}



{% block body %}
    <div id="container-title">
        <h1 id="login-title">Hello Pirate</h1>
    </div>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div id="container-form">{{ form(form) }}</div>


{% endblock %}
